<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="image/png" href="../static/images/icon.png"> <!-- link para o ícone -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <title>LigTele Informática</title>
</head>
<body>

    <!-- =====================================================================
        Page up Button
         ===================================================================== -->
    <div class="pageup">
        <a href="#"><i id="pageup-icon" class="bi bi-arrow-up-square-fill"></i></a>
    </div>

    <!-- =====================================================================
        Mobile menu Button
         ===================================================================== -->
    

    <!-- =====================================================================
        Navbar
         ===================================================================== -->
    <header>
        <nav id="navbar" class="nav-menu">
            <a class="navbar-logo" href="/"><img src="../static/images/logo-red-short-329x256.png"></a>

            <div class="toggle"></div>
            <ul class="navigation nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Início</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#services">Serviços</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contatos</a>
                </li>          
            </ul>

        </nav>
    </header>

    <!-- =====================================================================
        Banner
         ===================================================================== -->
    <main id="banner" class="row m-0 p-0">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-flex justify-content-center align-items-center flex-column">
            <h2>Olá Mundo!</h2>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem odio temporibus non.</h3>
            <a href="#services" id="banner-btn">Nossos Serviços!</a>
        </div>
        <div class="col-md-2"></div>
    </main>

    <!-- =====================================================================
        Services
         ===================================================================== -->
    <section id="services" class="row m-0">
        <div class="col"></div>
        <div class="col-md-10">
            <h2 class="title-tab">Serviços</h2>
            <h3 class="subtitle-tab">Nossos serviços profissionais.</h3>
            <div class="container-services row m-0 d-flex justify-content-center align-items-center">
                <div class="card-services col-md-4" id="card-one-services">
                    <div class="content-cards-services">
                        <div class="content-img"><img src="../static/images/note.svg" alt="Conserto de PC'S/Notebooks."></div>
                        <h3 class="card-services-title">Conserto de PC's/Notebooks</h3>
                        <p>Manuntenção de hardware e software em PC's e notebooks.</p>
                    </div>
                </div>
                <div class="card-services col-md-4" id="card-two-services">
                    <div class="content-cards-services">
                        <div class="content-img"><img src="../static/images/printer.svg" alt="Conserto de Impressoras."></div>
                        <h3 class="card-services-title">Conserto de Impressoras</h3>
                        <p>Diagnóstico e manuntenção técnica em impressoras.</p>
                    </div>
                </div>
                <div class="card-services col-md-4" id="card-tree-services">
                    <div class="content-cards-services">
                        <div class="content-img"><img src="../static/images/cam.svg" alt="Circuito de Câmeras."></div>
                        <h3 class="card-services-title">Circuito de Câmeras</h3>
                        <p>Dimensionamento e instalação de circuitos de câmeras(CFTV).</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </section>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>