<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="image/png" href="../static/images/icon.png"> <!-- link para o ícone -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <title>LigTele Informática</title>
</head>

<body>

    <!-- =====================================================================
        Page up Button
        ===================================================================== -->
    <div class="pageup">
        <a href="#"><i id="pageup-icon" class="bi bi-arrow-up-square-fill"></i></a>
    </div>

    <!-- =====================================================================
        Navbar
        ===================================================================== -->
    <header>
        <nav id="navbar" class="nav-menu">
            <a class="navbar-logo" href="/"><img id="logo" src="../static/images/logo-red-short-329x256.png"></a>

            <div class="toggle"></div>
            <ul class="navigation nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#clients">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contatos</a>
                </li>
            </ul>

        </nav>
    </header>

    <!-- =====================================================================
        Banner
         ===================================================================== -->
    <main id="banner" class="row m-0 p-0">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-flex justify-content-center align-items-center flex-column">
            <h2>Olá Mundo!</h2>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem odio temporibus non.</h3>
            <a href="#services" id="banner-btn">Nossos Serviços!</a>
        </div>
        <div class="col-md-2"></div>
    </main>

    <!-- =====================================================================
        Services
        ===================================================================== -->
    <section id="services" class="row m-0">
        <h2 class="title-tab">Serviços</h2>
        <h3 class="subtitle-tab">Nossos serviços profissionais.</h3>
        <div class="col"></div>
        <div class="col-md-10">
            <div class="container-services row m-0 d-flex justify-content-center align-items-center">
                <div class="card-services col-md-4" id="card-one-services">
                    <div class="content-cards-services">
                        <div class="content-img"><img src="../static/images/note.svg" alt="Conserto de PC'S/Notebooks.">
                        </div>
                        <h3 class="card-services-title">Conserto de PC's/Notebooks</h3>
                        <p>Manuntenção de hardware e software em PC's e notebooks.</p>
                    </div>
                </div>
                <div class="card-services col-md-4" id="card-two-services">
                    <div class="content-cards-services">
                        <div class="content-img"><img src="../static/images/printer.svg" alt="Conserto de Impressoras.">
                        </div>
                        <h3 class="card-services-title">Conserto de Impressoras</h3>
                        <p>Diagnóstico e manuntenção técnica em impressoras.</p>
                    </div>
                </div>
                <div class="card-services col-md-4" id="card-tree-services">
                    <div class="content-cards-services">
                        <div class="content-img"><img src="../static/images/cam.svg" alt="Circuito de Câmeras."></div>
                        <h3 class="card-services-title">Circuito de Câmeras</h3>
                        <p>Dimensionamento e instalação de circuitos de câmeras(CFTV).</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </section>

    <!-- =====================================================================
        Clients
        ===================================================================== -->
    <section id="clients" class="row m-0">
        <h2 class="title-tab">Clientes</h2>
        <h3 class="subtitle-tab">Alguns dos nossos clientes.</h3>
        <div class="col"></div>
        <div class="col-md-10">
            <div class="row m-0">
                <div class="col-md-2"></div>
                <div class="col-md-8 d-flex justify-content-center align-items-center flex-column">
                    <div id="carousel-clients" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carousel-clients" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carousel-clients" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carousel-clients" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card bg-dark text-white">
                                    <img src="../static/images/slide1.png" class="card-img" alt="...">
                                    <div class="card-img-overlay">
                                        <h5 class="card-title">Cliente 1</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card bg-dark text-white">
                                    <img src="../static/images/slide2.png" class="card-img" alt="...">
                                    <div class="card-img-overlay">
                                        <h5 class="card-title">Cliente 2</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card bg-dark text-white">
                                    <img src="../static/images/slide3.png" class="card-img" alt="...">
                                    <div class="card-img-overlay">
                                        <h5 class="card-title">Cliente 3</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-clients"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-clients"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="col"></div>
    </section>

    <!-- =====================================================================
        About
        ===================================================================== -->
    <section id="about" class="row m-0">
        <h2 class="title-tab">Sobre</h2>
        <h3 class="subtitle-tab">Um pouco sobre nossa história.</h3>
        <div class="col"></div>
        <div class="col-md-10">
            
        </div>
        <div class="col"></div>
    </section>

    <!-- =====================================================================
        Contact
        ===================================================================== -->
    <section id="contact">
        <h2 class="title-tab">Contato</h2>
        <h3 class="subtitle-tab">Entre em contato com a gente!</h3>
        <div class="container mb-5">

            <div class="row mt-5">
                <div class="col-md-5">
                    <div class="card p-5 shadow border-0">
                        <div class="address">
                            <h4><i class="bi bi-geo-alt"></i></i> Localização</h4>
                            <p>Av. General San Martin, 1982 - RECIFE-PE.</p>
                        </div>
                        <div class="email">
                            <h4><i class="bi bi-envelope"></i></i> Email</h4>
                            <p>contato.ligtele@gmail.com</p>
                        </div>
                        <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.321810114661!2d-34.93044068588835!3d-8.068621682868564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab19357933ada5%3A0x29ffe775a01c3577!2sAv.%20Gen.%20San%20Martin%2C%201982%20-%20San%20Martin%2C%20Recife%20-%20PE%2C%2050761-000!5e0!3m2!1spt-BR!2sbr!4v1653434532974!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-md-7 mt-5 mt-md-0">
                    <div class="card p-5 h-100 shadow border-0">
                        <form class="row g-3">
                            
                            <div class="col-md-6">
                              <label for="nome" class="form-label">Nome</label>
                              <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
                            </div>

                            <div class="col-md-6">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                              </div>

                            <div class="col-12">
                              <label for="mensagem" class="form-label">Mensagem</label>
                              <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10" placeholder="Digite sua mensagem..."></textarea>
                            </div>

                            <div class="col-12 d-flex justify-content-center mt-4">
                              <button type="submit" id="send-btn" class="btn btn-primary">Enviar</button>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- =====================================================================
        Footer
        ===================================================================== -->
        <footer class="footer">
            <a href="#"><img id="logo" src="../static/images/logo-black-long-383x256.png"></a>
            <div class="footer-credits">
                <div class="footer-credit">
                    <h6>All rights reserved. Made with</h6>
                    <img src="../static/images/code.svg" alt="code">
                    <h6>and</h6>
                    <img src="../static/images/like.svg" alt="love">
                </div>
                <div class="footer-creator">
                    <h6>by <strong><a id="creator" href="https://www.linkedin.com/in/brunomelocosta/" target="_blank">Bruno Melo</a>.</strong></h6>
                </div>
            </div>
        </footer>


    <!-- =====================================================================
        Scripts
        ===================================================================== -->        
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>